language: scala

before_install:
  - curl -sL https://github.com/shyiko/jabba/raw/master/install.sh | bash && . ~/.jabba/jabba.sh

install:
  - $JABBA_HOME/bin/jabba install $TRAVIS_JDK
  - unset _JAVA_OPTIONS
  - export JAVA_HOME="$JABBA_HOME/jdk/$TRAVIS_JDK" && export PATH="$JAVA_HOME/bin:$PATH" && java -Xmx32m -version

env:
  global:
    - JABBA_HOME=$HOME/.jabba
  matrix:
    - TRAVIS_JDK=adopt@1.8.192-12
    - TRAVIS_JDK=adopt@1.11.0-2

matrix:
  fast_finish: true
  allow_failures:
    # Java 11 is still not fully supported. It is good that we are already
    # testing play-ws using it to better discover possible problems but we
    # can allow failures here too.
    - env: TRAVIS_JDK=adopt@1.11.0-2

scala:
  - 2.10.7
  - 2.12.8
  - 2.13.0-RC2

script: sbt ++$TRAVIS_SCALA_VERSION test publishLocal

cache:
  directories:
    - "$HOME/.ivy2/cache"
    - "$HOME/.sbt/boot/"
    - "$HOME/.jabba/jdk"

before_cache:
  - rm -rf $HOME/.ivy2/cache/com.typesafe.play/play-doc*
  - find $HOME/.ivy2 -name "ivydata-*.properties" -delete
  - find $HOME/.sbt -name "*.lock" -delete

notifications:
  slack:
    secure: eSXNye/c+jVCFfB9E28AmXaOFiboQLkEINHXRfkcniVyQ1EVQGVoX2qXstkJmm9GRaUGuQkTi0mg8cRbXWff/3kn2H2O73Wot80E1H6YgkYm7lJ+ZYChxhiLn0j1YK8IPropdKGmtPtBJ+1yy7Radm6UUGDFVAGpIV9ibNAWXJM=
