name: Check

on:
  pull_request:

  push:
    branches:
      - 3.0.x # Check branch after merge

concurrency:
  # Only run once for latest commit per ref and cancel other (previous) runs.
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check-code-style:
    name: Code Style
    uses: playframework/.github/.github/workflows/cmd.yml@v3
    with:
      cmd: sbt validateCode

  tests:
    name: Tests
    needs:
      - "check-code-style"
    uses: playframework/.github/.github/workflows/cmd.yml@v3
    with:
      java: 17, 11
      scala: 2.12.x, 2.13.x, 3.x
      cmd: sbt ++$MATRIX_SCALA test

  finish:
    name: Finish
    if: github.event_name == 'pull_request'
    needs: # Should be last
      - "tests"
    uses: playframework/.github/.github/workflows/rtm.yml@v4
